@import "../variables.scss";

header {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(115.48deg, rgba(10, 35, 34, 0.95) 12.52%, rgba(0, 0, 0, 0.05) 65.13%);
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;
}

header .container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  grid-template-columns: $grid-column;
}

.about-header-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header {
  grid-column: 1 / 4;
}

.heading {
  color: $main;
  opacity: 70%;
}

.whoweare {
  font-family: $playfair;
  font-weight: 400;
  font-size: 36px;
  color: $white;
}

// Main
main {
  background: $primary;
  padding-bottom: 150px;
}

// Pattern
#pattern {
  position: absolute;
  width: 300px;
  height: 300px;
  overflow: hidden;

  & > img {
    position: absolute;
    top: -50px;
    left: -80px;
    transform: scaleX(-1);
  }
}

main .container {
  padding-top: 150px;
}

// Content
main .container .row {
  display: grid;
  grid-template-columns: $grid-column;

  &:nth-child(1){  
    & > .column {
      grid-column: 2 / 5;

      & h2 {
        font-family: $playfair;
        font-size: 36px;
        font-weight: 400;
        color: $black;
      }
    }
  }

  &:nth-child(2){
    align-items: center;
    gap: 30px;

    & > .column {
      &:nth-child(1){
        grid-column: 2 / 4;

        & p {
          max-width: 450px;
          font-size: 16px;
          font-weight: 300;
          line-height: 160%;
        }
      }
      &:nth-child(2){
        grid-column: 4 / 6;
        display: flex;
        justify-content: center;

        & > img {
          transform: scaleX(-1);
        }
      }
    }
  }
  
  &:nth-child(3) {
    margin-top: 50px;

    & > .column {
      &:nth-child(1) {
        grid-column: 1 / 4;

        & img {
          max-width: 720px;
          width: 100%;
          height: 340px;
          object-fit: cover;
        }
      }
      &:nth-child(2) {
        grid-column: 4 / 6;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 30px;

        & h2 {
          max-width: 310px;
          font-family: $playfair;
          font-size: 36px;
          font-weight: 400;
          color: $black;
          line-height: 130%;
        }

        & p {
          max-width: 450px;
          font-size: 16px;
          font-weight: 300;
          line-height: 160%;
        }
      }
    }
  }

  &:nth-child(4) {
    margin-top: 80px;
    & > .column {
      grid-column: 2 / 4;
      display: flex;
      flex-direction: column;
      gap: 30px;

      & h2 {
        font-family: $playfair;
        font-size: 36px;
        font-weight: 400;
        color: #000;
        line-height: 130%;
      }

      & .desc {
        max-width: 360px;
        font-size: 16px;
        font-weight: 300;
        line-height: 160%;
      }

      & .client {
        font-family: $playfair;
        font-weight: 500;
        font-size: 18px;
        line-height: 170%;
      }
    }
  }

  &:nth-child(5) {
    margin-top: 100px;

    & > .column {
      grid-column: 1 / 6;
      display: flex;
      justify-content: center;
    }
  }
}

// Footer
footer {
  background-color: $green;
  padding: 25px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  & > .footer-info {
    display: flex;
    flex-direction: row;
    gap: 30px;

    & div {
      display: flex;
      gap: 30px;
    }

    & a {
      text-decoration: none;
      font-family: $playfair;
      font-weight: 400;
      font-size: 20px;
      color: $white;
    }

    & .footer-mail {
      color: $main;
      text-decoration: underline;
    }
  }

  & > .footer-address p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: $primary;
    opacity: 50%;
  }

  & > .footer-author {
    margin-top: 30px;
  }

  & > .footer-copyright p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: $primary;
    opacity: 40%;
  }
}

.caspy {
  text-align: right;

  & > a {
    text-decoration: none;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 400;
    color: $primary;
    opacity: 60%;

    & > span {
      font-weight: 700;
      color: $primary;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 940px){
  .header {
    max-width: 750px;
    grid-column: 1 / 6;
  }

  #pattern {
    display: none;
  }
  main .container .row {
    &:nth-child(1){  
      & > .column {
        grid-column: 1 / 6;
  
        & h2 {
          max-width: 715px;
        }
      }
    }
    &:nth-child(2){
      margin-top: 30px;
      display: flex;
      & .column {
        grid-column: 1 / 6;
        & img {
          display: none;
        }
      }
    }
    &:nth-child(3){
      display: flex;
      flex-direction: column;
      gap: 30px;

      & > .column {
        &:nth-child(1) {
          & img {
            width: 100%;
            height: 360px;
            object-fit: cover;
          }
        }
      }
    }
    &:nth-child(4){
      margin-top: 80px;
      display: flex;
      flex-direction: column;

      & > .column {
        max-width: 560px;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
    &:nth-child(5){
      display: flex;
      & .column {
        width: 100%;

        & > img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 560px){
  header {
    padding-bottom: 40px;
  }
  .whoweare {
    font-size: 24px;
  }

  main .container {
    padding-top: 50px;
  }

  main .container .row {
    &:nth-child(1){  
      & > .column {
        & h2 {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px){
  footer {
    & .footer-info {
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  }
}