@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

$roboto: "Roboto", sans-serif;
$playfair: "Playfair Display", sans-serif;
$main: #CFB37C;
$white: #f8f8f8;
$black: #000000;
$blur: blur(5px);
$border: 1px solid rgba(207, 179, 124, 0.50);
