@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

$playfair: "Playfair Display", sans-serif;
$main: #CFB37C;
$white: #f8f8f8;
$black: #000000;
$gray: #00000050;
$green: #0A2322;
$blur: blur(5px);
$border: 1px solid rgba(207, 179, 124, 0.50);
$grid-column: repeat(5, 1fr);
