@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$playfair: "Playfair Display", sans-serif;
$roboto: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;
$main: #CFB37C;
$white: #f8f8f8;
$black: #131313;
$gray: rgba(0, 0, 0, 0.5);
$green: #0A2322;
$primary: #E3E2DE;
$blur: blur(5px);
$border: 1px solid rgba(207, 179, 124, 0.50);
$grid-column: repeat(5, 1fr);

